@charset "utf-8";
/* CSS Document */

body{

	background-color:	#999;
}

#header{
	margin: auto;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:400px;
	height:70px; 
    background-color:#FFF;
	border-radius:25px;
	padding-top:1px;
	
}

#content{
	margin: auto;
	margin-top:10px;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:400px;
	height:500px; 
    background-color:	#CCC;
	border-radius:25px;
	padding-top:1px;
    
}